.mascot {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform var(--vora-duration-normal) var(--vora-easing-bounce);
}

.mascot:hover {
    transform: scale(1.05) rotate(5deg);
}

.svg {
    width: 100%;
    height: 100%;
}

.fadeout {
    animation: mascotFadeOut 300ms ease-out forwards;
}

@keyframes mascotFadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}